# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
build/
dist/

# Cache do ESLint
.eslintcache

# Cache do React Native
.expo/
.expo-shared/

# Diretórios de cache
.cache/
public/static/

# Arquivos de compilação
*.lock

# Editor e Sistema Operacional
.DS_Store
Thumbs.db
.vscode/
.idea/

# Arquivos de ambiente local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de log
logs/
*.log

# Arquivos de teste de cobertura
coverage/
