.menuItem {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 7px;
  cursor: pointer;
  transition: background 0.3s;
}

  
  .active {
    background-color: #7a3afc;
    border-radius: 8px;
  }
  
  .label {
    margin-left: 10px;
    justify-content: flex-start;
  }
  
  .dropdownIcon {
    margin-left: auto;
  }
  
  .menuItem:hover {
    background-color: #2a2a3b;
    border-radius: 8px;
  }
  
  .notificationBadge {
    background-color: #7a3afc;
    color: white;
    padding: 2px 8px;
    border-radius: 7px;
    margin-left: 10px;
  }
  