.main_container_proximo_btn {

    display: flex;            /* Usar flexbox */
    justify-content: flex-end; /* Alinhar conteúdo à direita */
    margin-top: 50px;   
    margin-right: 20px;     /* Mantém a margem superior */    

    .proximo_btn {
        background: linear-gradient(135deg, #a259ff, #6100ff);
        border: none;
        color: white;
        padding: 20px 35px;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s;
    }

    .proximo_btn:hover {
        transform: scale(1.05);
    }
}